/* import font */

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* global styling */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}

/* hero section */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943FF;
    padding: 4em 0;
}

.hero-title {
    padding: 0 10px;
}

#input-field {
    color: white;
    font-size: 50px;
    font-weight: bold;
    background: #6943FF;
    border: 3px solid #B295FF;
    border-radius: 5px;
    outline: none;
    text-align: center;
    padding: 10px 10px;
    margin: 40px 0;
    width: 125px;
}

#input-field::placeholder {
    color: white;
}

.convert-btn {
    border-radius: 5px;
    border: none;
    padding: 1em 2.5em;
    font-size: 16px
}

/* main section */

main {
    padding: 25px;
    background: #1F2937;
}

section {
    background: #273549;
    padding: 50px;
    margin: 20px 10px;
}

.section-title {
    margin-bottom: 25px;
}